<% if @best_voted_article %>
<h1 class="home-title">Most liked products</h1>
  <div class="home-best-article-container">
    <%= link_to article_path(@best_voted_article.id) do%>
      <%= image_tag(@best_voted_article.image.url ? @best_voted_article.image.url : random_image(@best_voted_article.category_id)) %>
      <h2 class="article-title">
        <%= @best_voted_article.title %>
      </h2>
      <p class="article-text"><%= truncate(@best_voted_article.text , length: 400)%></p>
    <%end%>
  </div>
<% end %>

<h2 class="home-subtitle">Categories</h2>
<div class="home-articles-container">
  <% Category.all.each do |category|%>
    <% most_recent_article = category.articles.last %>
    <% if most_recent_article %>
      <div class="home-article-container">
      <%= link_to category_path(category.id) do %>
          <%= image_tag( most_recent_article.image.url ? most_recent_article.image.url : random_image(category.id)) %>
          <h2 ><%= category.name %></h2>
          <h5><%= truncate(most_recent_article.title,length:20)%></h5>
      <% end %>
      </div>
    <%end%>
  <% end %>
</div>

<style>
  .home-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.home-best-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.home-best-article-container h2.article-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.home-best-article-container p.article-text {
  text-align: justify;
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.5;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-best-article-container img {
  border: 1px solid white;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 10px 5px 5px grey;
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  height: auto;
  transition: 0.3s;
}

.home-best-article-container img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
  
  </style>